@model WardrobeMVC.Models.Recommendation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Recommendation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accessory.AccessoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accessory.AccessoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foot.ShoeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foot.ShoeName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecommendationID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
