@model WardrobeMVC.Models.Foot

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.ShoeName)


</h2>

@*you're going to remove the titles, try to reorg the info at the bottom of the pic.*@

@*you deleted a LOT of boilerplate code to reorg this page*@

@*you like it. use this code as the template for other 3 articles*@

<div>
    @*<h4>Foot</h4>*@
    <hr />

    @*here's your new stuff:*@
        <div class="row">
            <div class="col-md-3 detailText">

                @Html.DisplayFor(model => model.Color) @Html.DisplayFor(model => model.Style) @Html.DisplayFor(model => model.Type)
            </div>
            <div class="col-md-6 detailText">

                <img class="clothingInDetail" src=@Url.Content(Model.Photo) class="img-responsive">
                </div>

            <div class="col-md-3 detailText">
                Recommended for: @Html.DisplayFor(model => model.Occasion)
                </div>
            </div>
</div>
<p class="followMe">
    @Html.ActionLink("Edit", "Edit", new { id = Model.FeetID }) |
    @Html.ActionLink("Back to All Shoes", "Index")
</p>
