@model IEnumerable<WardrobeMVC.Models.Foot>

@{
    ViewBag.Title = "Index";
}

<h2>Fabulous Feet</h2>

@*you'll want to edit this page. maybe pics and titles only*@
@*maybe make the title of the shoe to link to the details. you did it in travel review*@

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ShoeName)*@
            Details
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Occasion)*@
            Recommended for
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        @*you're about to tinker with this, to get photos to show:*@

        <td>
            @*original line:*@
            @*@Html.DisplayFor(modelItem => item.Photo)*@

            <img id="clothingInList" src=@Url.Content(item.Photo) class="img-responsive">
        </td>

        <td>
            @*@Html.DisplayFor(modelItem => item.ShoeName)*@
            @Html.ActionLink(item.ShoeName, "Details", new { id = item.FeetID })
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FeetID }) <br/>
            @*@Html.ActionLink("Details", "Details", new { id=item.FeetID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.FeetID })
        </td>
    </tr>
}

</table>

<p class="followMe">
    @Html.ActionLink("Add More Shoes!", "Create")
</p>