@model IEnumerable<WardrobeMVC.Models.Top>

@{
    ViewBag.Title = "Index";
}

<h2>Tubular Tops</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TopName)*@
            Details
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Occasion)*@
            Recommended for
        </th>
        <th>
            @*blank for editing tools*@
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Photo)*@
            <img id="clothingInList" src=@Url.Content(item.Photo) class="img-responsive">

        </td>
        <td>
            @Html.ActionLink(item.TopName, "Details", new { id = item.TopID })
        </td>
        
        @*<td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TopID }) <br/>
            @*@Html.ActionLink("Details", "Details", new { id=item.TopID }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.TopID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add more tops!", "Create")
</p>
