@model WardrobeMVC.Models.Accessory

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.AccessoryName)


</h2>

<div>
    @*<h4>Accessory</h4>*@
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.AccessoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessoryName)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>*@

        <dd>
            @*@Html.DisplayFor(model => model.Photo)*@
            <img id="clothingInDetail" src=@Url.Content(Model.Photo) class="img-responsive">

        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Color) @Html.DisplayFor(model => model.Style) @Html.DisplayFor(model => model.Type)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Color)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Style)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.Occasion)
        </dt>*@

        <dd>
            @Html.DisplayFor(model => model.Occasion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccessoryID }) |
    @Html.ActionLink("Back to All Flair", "Index")
</p>
