@model IEnumerable<WardrobeMVC.Models.Accessory>

@{
    ViewBag.Title = "Index";
}

<h2>Fantastic Flair</h2>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessoryName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>*@
        <th>
            @*@Html.DisplayNameFor(model => model.Occasion)*@
            Recommended For
        </th>
        <th>
            @*this one is blank for editing row*@
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @*@Html.DisplayFor(modelItem => item.Photo)*@
            <img id="clothingInList" src=@Url.Content(item.Photo) class="img-responsive">

        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.AccessoryName)*@
            @Html.ActionLink(item.AccessoryName, "Details", new { id = item.AccessoryID })


        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Style)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AccessoryID }) <br/>
            @*@Html.ActionLink("Details", "Details", new { id=item.AccessoryID })*@
            @Html.ActionLink("Delete", "Delete", new { id=item.AccessoryID })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add More Flair!", "Create")
</p>
